{% extends "layout.phtml" %}
{% block title %}Urbare Desenvolvimento Imobiliário{% endblock %}

{% block content %}
    <main id="p-home">
        <article class="container-fuid p-home-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-1 col-lg-10">
                        <div class="p-home-banner-title-area">
                            <h2>
                                transformando sonhos em realidade
                            </h2>
                            <p>Conquiste seu tão sonhado lar, loteamentos com parcelas que cabem no seu bolso.</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <!-- A Empresa -->
        <article id="p-empresa" class="container-fluid content-area content-area-darken">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <header class="title-area title-area-primary text-center">
                            <h2>
                                a <strong>empresa</strong>
                            </h2>
                        </header>
                        <figure class="p-home-content-img">
                            <img class="img-responsive" src="{{ baseUrl }}/public/img/loteamento.png" alt="Monitores com loteamentos">
                            <div class="p-home-box-text">
                                <div class="text-area">
                                    <p>
                                        A <strong>URBARE</strong> é uma empresa do segmento imobiliário que possui capacidade técnica, jurídica, comercial, construtiva e legal, para desenvolver empreendimentos de loteamentos.
                                    </p>
                                    <ul>
                                        <li>
                                            Produz, cuidadosamente, todas as etapas para uma completa estruturação de seus terrenos,
                                            negócios e incorporações;
                                        </li>
                                        <li>
                                            Desenvolve os projetos legal, executivos e complementares, e suas aprovações, sempre
                                            conforme suas vocações técnicas e comerciais;
                                        </li>
                                        <li>
                                            Foco em liquidez nas vendas, valorização patrimonial e lucratividade.
                                        </li>
                                        <li>
                                            Expertise em gestão de obra e infraestrutura como: água potável, drenagem, esgoto sanitário, iluminação pública, gás e energia elétrica.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </article>
        <!-- Fim A Empresa -->

        <!-- Especialistas em Loteamento -->
        <article id="p-especialista-loteamento" class="container content-ara-lighten text-center">
            <div class="content-area">
                <div class="row">
                    <div class="col-xs-12">
                        <header class="title-area title-area-primary">
                            <h2>
                                especialista em <strong>loteamento</strong>
                            </h2>
                        </header>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="box-content">
                            <span class="box-content-specialist"></span>
                            <div class="box-content-circle">
                                <i class="fa fa-search"></i>
                            </div>
                            <h3>Passo 1</h3>
                            <p>
                                Análise jurídica, técnica, comercial e financeira do terreno a ser loteado.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box-content">
                            <span class="box-content-specialist"></span>
                            <div class="box-content-circle">
                                <i class="fa fa-pencil-square-o"></i>
                            </div>
                            <h3>Passo 2</h3>
                            <p>
                                Planejamento e execução da estratégia de comercialização e publicidade.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box-content">
                            <div class="box-content-circle">
                                <i class="fa fa-home"></i>
                            </div>
                            <h3>Passo 3</h3>
                            <p>
                                Execução das obras de urbanização e aplicação do conceito de linha de produtos na área a ser loteada
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </article>
        <!-- Fim Especialistas em Loteamento -->

        <!-- Tipos de Loteamento -->
        <section id="p-tipos-loteamento" class="container-fluid content-area content-area-contrast">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <header class="title-area title-area-secondary text-center">
                            <h2>
                                tipos de <strong>loteamento</strong>
                            </h2>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="figure-circle mb-xs-4 mb-sm-0">
                            <figure>
                                <img src="{{ baseUrl }}/public/img/loteamento-aberto.png" alt="Loteamento Aberto">
                            </figure>
                            <label>Loteamento <strong>aberto</strong></label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="figure-circle">
                            <figure>
                                <img src="{{ baseUrl }}/public/img/loteamento-fechado.png" alt="Loteamento Aberto">
                            </figure>
                            <label>Loteamento <strong>fechado</strong></label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim Tipos de Loteamento -->

        <!-- Perfil de loteamento -->
        <section id="p-perfis-loteamento" class="container content-area-lighten">
            <div class="content-area">
                <div class="row">
                    <div class="col-xs-12">
                        <header class="title-area title-area-primary text-center">
                            <h2>
                                perfis de <strong>loteamento</strong>
                            </h2>
                        </header>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="text-area">
                            <p>
                                Para o desenvolvimento bem sucedido de um projeto de loteamento é necessário entender o perfil do público-alvo e especificar o produto adequado junto às características da população na regiãoe perfis de renda.
                            </p>
                            <p class="mb-xs-4">
                                A equipe da <strong>URBARE</strong> é especializada em terrenos para loteamentos, buscando maior valor valorização do negócio a ser empreendido.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-sm-4 col-md-offset-1 col-md-3">
                        <div class="box-content">
                            <div class="box-content-circle">
                                <figure>
                                    <img src="../../public/img/baixa-renda.png" alt="Baixa Renda">
                                </figure>
                            </div>
                            <h3>baixa renda</h3>

                        </div>
                    </div>

                    <div class="col-sm-4  col-md-4">
                        <div class="box-content">
                            <div class="box-content-circle">
                                <figure>
                                    <img src="../../public/img/media-renda.png" alt="Média Renda">
                                </figure>
                            </div>
                            <h3>média renda</h3>
                        </div>
                    </div>

                    <div class="col-sm-4 col-md-3">
                        <div class="box-content">
                            <div class="box-content-circle">
                                <figure>
                                    <img src="../../public/img/alta-renda.png" alt="Alta Renda">
                                </figure>
                            </div>
                            <h3>alta renda</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim Perfil de loteamento -->

        <!-- Produtos Urbare -->
        <article id="p-produtos" class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="product-area product-area-one">
                        <div class="product-area-position">
                            <figure class="product-area-text-position-left">
                                <img src="{{ baseUrl }}/public/img/aquality-popular.png" alt="Agility Praias">
                            </figure>
                            <div class="product-area-position-text product-area-text-position-left">
                                <h2>AQUALITY - Popular</h2>
                                <p>
                                    Facilidade na aquisição, com redução do valor de entrada e financiamento, conceito urbano
                                    com todos os requisitos necessários para primeira moradia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="product-area product-area-two">
                        <div class="product-area-position">
                            <figure class="product-area-text-position-right">
                                <img src="{{ baseUrl }}/public/img/aquality-montanhas.png" alt="Agility Montanhas">
                            </figure>
                            <div class="product-area-position-text product-area-text-position-right">
                                <h2>AQUALITY - Montanhas</h2>
                                <p>
                                    Conceito rústico, porém inovador, com foco gourmet nas áreas comuns, buscando o aproveitamento do verde e a climatização das montanhas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="product-area product-area-three">
                        <div class="product-area-position">
                            <figure class="product-area-text-position-left">
                                <img src="{{ baseUrl }}/public/img/aquality-praias.png" alt="Agility Praias">
                            </figure>
                            <div class="product-area-position-text product-area-text-position-left">
                                <h2>AQUALITY - praias</h2>
                                <p>
                                    Expansão da área de lazer comum perto da costa, onde estará situado um clube com conceito voltado ao clima tropical,
                                    para atividades como surf, vela, náutica, entre outros.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="product-area product-area-four">
                        <div class="product-area-position">
                            <figure class="product-area-text-position-right">
                                <img src="{{ baseUrl }}/public/img/aquality-urbano.png" alt="Agility Urbano">
                            </figure>
                            <div class="product-area-position-text product-area-text-position-right">
                                <h2>AQUALITY - urbano</h2>
                                <p>
                                    Facilidade e praticidade para quem vive na região urbana, conceito moderno, buscando uma ótima localização para
                                    acesso aos grandes centros e transporte.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- Fim Produtos Urbare -->

        <!-- Invista Conosco -->
        <section id="p-invista-conosco" class="content-area content-area-darken">
            <div class="container">
                <article class="profile-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <header class="title-area title-area-primary text-center">
                                <h2>
                                    Invista <strong>Conosco</strong>
                                </h2>
                            </header>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <ul>
                                <li>
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="profile-content-circle">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Assertividade e Equipe</h4>
                                            <p>
                                                A empresa conta com uma equipe de profissionais altamente qualificados, com histórico  de realizações
                                                bem sucedidas no setor.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="profile-content-circle">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Planejamento Estratégico</h4>
                                            <p>
                                                É indispensável um detalhado planejamento estratégico de toda as etapas que compõem uma incorporação
                                                imobiliária, evitando imprevistos e alcançando a valorização patrimonial desejada.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <div class="profile-content-circle">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Sinergia e dedicação</h4>
                                            <p>
                                                A comunicação e transparência com todos os envolvidos, é de suma importância para o sucesso do negócio,
                                                nossa equipe procura dar feedback mensais referente a evolução do negócio para todos os envolvidos.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-content-img">
                                <figure>
                                    <img class="img-responsive" src="{{ baseUrl }}/public/img/corretor.png" alt="Corretor de Loteamento">
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <!-- Fim Invista Conosco -->

        <!-- Parceria-->
        <section id="p-parceria" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <header class="title-area title-area-primary text-center mt-xs-6">
                            <h2>
                                Em parceria com a <strong>RIOVIX</strong>
                            </h2>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
                        <div class="text-area">
                            <p class="mb-xs-6">
                                A Riovixfoi fundada em 1988 e tem sua atuação concentrada nos Estados do Espírito Santo e Rio de Janeiro. A empresa obteve nesses anos uma larga experiência em desenvolvimento, incorporação e construção de empreendimentos residenciais, tanto de apartamentos quanto de casas em condomínios fechados, seja no campo de imóveis econômicos como no de altíssimo padrão.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row enterprises-carousel-list">
                <div class="enterprises-carousel-list-nav">
                    <a id="p-prev-btn-edi-anterior-semana"
                       href="javascript:void(0)"
                       class="carousel-nav carousel-nav-button-primary prev"><i class="fa fa-chevron-circle-left"></i></a>
                    <a id="p-next-btn-edi-anterior-semana"
                       href="javascript:void(0)"
                       class="carousel-nav carousel-nav-button-primary next"><i class="fa fa-chevron-circle-right"></i></a>

                    <div data-onc-type="app/widget/contentCarousel"
                         data-onc-sizes="0-1,500-2,1000-3,1200-4"
                         data-onc-enable-pagination="true"
                         data-onc-autoplay-time="3000"
                         data-onc-left-link="#p-prev-btn-edi-anterior-semana"
                         data-onc-right-link="#p-next-btn-edi-anterior-semana"
                         class="owl-carousel owl-theme">

                        {% include 'elements/enterprise-area.phtml' %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Fim Parceria-->
    </main>
{% endblock %}

