<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="{{ baseUrl }}/public/css/all.css" />

        <link rel="icon" type="image/x-icon" href="{{ baseUrl }}/public/img/favicon.ico" />
        
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

        <script>
            //CONFIGURACOES ESPECIFICAS DO AMBIENTE
            var ENVIRONMENT = 'dev',
                BASE_URL = '{{ baseUrl }}public/',
                BASE_STATIC_URL = '{{ baseUrl }}public/',
                LANGUAGE = {
                    loading: "<?= __('Processando') ?>"
                };
        </script>

        <!--[if lt IE 9]>
        <script src="{{ baseUrl }}public/js/app/core/lib/html5shiv.js"></script>
        <script src="{{ baseUrl }}public/js/app/core/lib/respond.js"></script>
        <![endif]-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
        <script src="{{ baseUrl }}public/js/app/core/lib/history.js"></script>
        <script data-main="{{ baseUrl }}public/js/app.js" src="{{ baseUrl }}public/js/app/core/lib/requireJquery.js"></script>
    </head>
    <body data-onc-script="app/view/default">
        <header id="tpl-header">
            <div class="tpl-header-top"></div>
            <nav class="tpl-header-navbar navbar navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="../../public/img/logo-urbare.svg" alt="Urbare Desenvolvimento Imobiliário"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="tpl-header-navbar-nav navbar-right">
                            <li><a class="animated-anchor" href="#p-empresa">A EMPRESA</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOTEAMENTO <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="animated-anchor" href="#p-especialista-loteamento">Especialista em Loteamento</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="animated-anchor" href="#p-tipos-loteamento">Tipos de Loteamento</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="animated-anchor" href="#p-perfis-loteamento">Perfis de Loteamento</a></li>
                                </ul>
                            </li>
                            <li><a class="animated-anchor" href="#p-produtos">PRODUTOS</a></li>
                            <li><a class="animated-anchor" href="#p-invista-conosco">INVISTA CONOSCO</a></li>
                            <li><a class="animated-anchor" href="#p-parceria">PARCERIA</a></li>
                            <li><a class="hidden-sm hidden-md hidden-lg" data-onc-type="app/widget/dialog"  href="/modal-contato">CONTATO</a></li>
                            <li class="hidden-xs">
                                <a class="tpl-header-btn" data-onc-type="app/widget/dialog"  href="/modal-contato">contato</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>

        <!-- BACK TO TOP BUTTON -->
        <div class="scroll-top-wrapper hidden-xs" data-onc-type="app/widget/buttonScrollTop">
            <i class="fa fa-caret-up"></i></span>
        </div>
        <!-- // BACK TO TOP BUTTON-->


    	<div id="content">
        	{% block content %}{% endblock %}
    	</div>

        <!--<footer id="tpl-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Copyright © 2016 - URBARE Desenvolvimento Imobiliário</p>
                    </div>
                </div>
            </div>
        </footer>-->

        <footer class="tpl-footer container-fluid">
            <section class="container">
                <div class="row">
                    <article class="col-sm-4">
                        <h3>
                            Sobre Nós
                        </h3>
                        <p>
                            A <b>URBARE</b> é uma empresa do segmento imobiliário que possui capacidade técnica, jurídica, comercial, construtiva e legal, para desenvolver empreendimentos de loteamentos.
                        </p>
                    </article>
                    <nav class=" col-sm-3 col-lg-offset-1 col-lg-3">
                        <h3>
                            Mapa do Site
                        </h3>
                        <ul>
                            <li>
                                <a class="animated-anchor" href="#p-empresa"><i class="fa fa-caret-right"></i> A Empresa</a>
                            </li>
                            <li>
                                <a class="animated-anchor" href="#p-especialista-loteamento"><i class="fa fa-caret-right"></i> Especialis em Loteamento</a>
                            </li>
                            <li>
                                <a class="animated-anchor" href="#p-tipos-loteamento"><i class="fa fa-caret-right"></i> Tipo de loteamento</a>
                            </li>
                            <li>
                                <a class="animated-anchor" href="#p-perfis-loteamento"><i class="fa fa-caret-right"></i> Perfis de Loteamento</a>
                            </li>
                            <li>
                                <a class="animated-anchor" href="#p-produtos"><i class="fa fa-caret-right"></i> Produtos</a>
                            </li>
                            <li>
                                <a class="animated-anchor" href="#p-invista-conosco"><i class="fa fa-caret-right"></i> Invista conosco</a>
                            </li>
                            <li>
                                <a class="animated-anchor" href="#p-parceria"><i class="fa fa-caret-right"></i> Parceria</a>
                            </li>

                            <li>
                                <a data-onc-type="app/widget/dialog"  href="/modal-contato"><i class="fa fa-caret-right"></i> Contato</a>
                            </li>
                        </ul>

                    </nav>
                    <address class="col-sm-5 col-lg-4">
                        <h3 class="mt-xs-4 mt-sm-0" >
                            Onde Ficamos
                        </h3>

                        <strong class="mb-xs-1">rio de janeiro - RJ</strong>

                        <p><i class="fa fa-home"></i>
                            Av. das Américas 3.443, Bl 1 - 3º andar - Barra da Tijuca </br>
                            CEP: 22631-003
                        </p>
                        <p class="mb-xs-2"><i class="fa fa-phone-square"></i>
                            +55 (21) 2148-4150
                        </p>
                    </address>
                </div>

            </section>

            <section class="container-fluid tpl-footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="tpl-footer-copyright-line"></div>
                            <p class="tpl-footer-bottom-copyright-footer" >
                                Copyright © 2016 - Urbare -Especializada em Loteamento
                            </p>
                        </div>
                    </div>
                </div>
            </section>

        </footer>
    </body>
</html>