<div id="p-contact" class="cs-modal modal fade" data-backdrop="static" data-keyboard="false" data-onc-script="app/view/default">
    <section class="modal-dialog">
        <div class="modal-content cs-modal">
            <header class="cs-modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h2>Fale <strong>conosco</strong></h2>
            </header>
            <div class="cs-modal-body ">
                <form action="/enviar-email" method="post">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input type="text"
                                       required="required"
                                       data-msg-required="Campo Nome Obrigatório"
                                       class="form-control cs-modal-body-form"
                                       name="name" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email"
                                       name="email"
                                       required="required"
                                       data-msg-required="Campo E-mail Obrigatório"
                                       data-msg-email="Deve conter um e-mail válido"
                                       class="form-control cs-modal-body-form" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="telefone">Telefone</label>
                                <input type="text"
                                       name="phone"
                                       required="required"
                                       data-msg-required="Campo Telefone Obrigatório"
                                       class="form-control cs-modal-body-form input-phone" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="mensagem">Mensagem</label>
                                <textarea
                                        name="message"
                                        required="required"
                                        data-msg-required="Campo Mensagem Obrigatório"
                                        class="form-control cs-modal-body-form" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <article class="text-center">
                                <button type="submit"
                                        data-onc-type="app/widget/formSubmitValidate"
                                        data-onc-is-dialog-close="true"
                                        data-onc-os
                                        class="btn cs-btn cs-btn-primary-color">enviar</button>
                            </article>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>