.box-content {
    margin-bottom: 80px;
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 100%;

    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background: $primaryColor;

    .box-content-circle {
        height: 200px;
        width: 200px;
        margin: 0 auto;
        border-radius: 100%;
        background: $thirdColor;

        i {
            text-align: center;
            line-height: 200px;
            vertical-align: middle;
            font-size: 55px;
            color: $primaryColor;
        }
        figure {
            img {
                margin-top: 20px;
            }
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        margin: 0;
        display: block;
        height: 85px;
        line-height: 21px;
    }

    span.box-content-specialist {
        position: absolute;
        right: 50%;
        bottom: -70px;
        margin-right: -27px;

        &:after {
            content: url("../img/seta-down.png");
        }
    }

    @media (min-width: $screen-sm-min) {
        margin-bottom: 0px;
        max-width: 180px;

        .box-content-circle {
            height: 125px;
            width: 125px;

            i {
                font-size: 25px;
                line-height: 125px;
            }
            figure {
                img {
                    margin-top: 10px;
                    height: 100px;
                }
            }
        }

        span.box-content-specialist {
              top: 160px;
              right: -65px;
              margin-right: 0;
              &:after {

                  content: url("../img/seta.png");
              }
          }

        p {
            height: 130px;
        }
    }

    @media (min-width: $screen-md-min) {
        max-width: 220px;

        .box-content-circle {
            height: 145px;
            width: 145px;

            i {
                line-height: 145px;
                font-size: 35px;
            }

            figure {
                img {
                    height: 140px;
                }
            }
        }

        span.box-content-specialist {
            top: 170px;
            right: -80px;
        }

        p {
            height: 110px;
        }
    }

    @media (min-width: $screen-lg-min) {
        max-width: 260px;

        .box-content-circle {
            height: 160px;
            width: 160px;

            i {
                line-height: 160px;
                font-size: 45px;
            }
            figure {
                img {
                    margin-top: 20px;
                }
            }
        }

        span.box-content-specialist {
            top: 160px;
            right: -90px;
        }

        p {
            height: 85px;
        }
    }
}
