.carousel-nav {

    position: absolute;
    z-index: 8;
    top: 50%;
    width: 30px;
    height: 80px;
    margin-top: -50px;
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 80px;
    vertical-align: middle;

    &.prev {
        left: 0;
        border-radius: 0 5px 5px 0;
        box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.45);
    }

    &.next {
        right: 0;
        border-radius: 5px 0 0 5px;
        box-shadow: -4px 0px 5px 0px rgba(0,0,0,0.45);
    }

    &.carousel-nav-button-primary {
        color: #ffffff;
        background: $primaryColor;
    }

    @media (min-width: $screen-md-min) {
        &.prev {
            left: 0;
        }

        &.next {
            right: 0;
        }
    }
}