.content-area {
    padding: 40px 0;

    &.content-area-lighten {
        background: #ffffff;
    }

    &.content-area-darken {
        background: $thirdColor;
    }
    &.content-area-contrast {
        background: $contrastColor;
    }

    @media (min-width: $screen-sm-min) {
        padding: 60px 0;
    }
}