.cs-modal {
    .cs-modal-header {
        @extend .modal-header;

        h1, h2, h3, h4, h5, h6 {
            text-align: center;
            text-transform: uppercase;
            color: #7f7f7f;
            strong {
                color: $primaryColor;
            }
        }
    }
    .cs-modal-body {
        @extend .modal-body;
        padding-top: 30px;
        padding-bottom: 40px;

        label {
            margin-bottom: 10px;
        }

        .cs-modal-body-form {
            border: 1px solid #eeeeee;
            border-radius: 5px;
            background: #f6f5f5;
        }
    }
}