.cs-btn {
    @extend .btn;
    @include button-size(10px, 10px, 14px, 14px, 5px);

    text-transform: uppercase;

    &.cs-btn-primary-color {
         @include button-variant(#ffffff, $primaryColor, $primaryColor);

         transition: (all 0.5s ease);

         &:hover {
             @include button-variant(#ffffff, darken($primaryColor, 2%), #ffffff);

             transition: (all 0.5s ease);
         }
     }

    &.cs-btn-second-color {
        @include button-variant(#ffffff, $secondColor, $secondColor);

        transition: (all 0.5s ease);

        &:hover {
            @include button-variant(#ffffff, darken($secondColor, 2%), #ffffff);

            transition: (all 0.5s ease);
        }
    }
}