.enterprises-carousel-list {
    margin-bottom: 60px;
    position: relative;
    z-index: 1;

    .enterprises-carousel-list-nav {
        position: relative;
    }

    .enterprises-carousel-list-content {
        width: 100%;
        margin-bottom: 20px;

        .item {
            margin-left: 0px;
            margin-right: 0px;

            a {
                figure   {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {
        .enterprises-carousel-list-content {
            .owl-controls {
                width: 100%;
                position: absolute;
                bottom: 20px;
            }

            .owl-wrapper-outer {
                overflow: visible;
                position: absolute;
                z-index: 5;
                clip: rect(0, $screen-md - 30, 600px, 0px);
            }
        }
    }

    @media (min-width: $screen-md-min) {
        .carousel-nav {
            visibility: hidden;
        }

        &:hover {
            .carousel-nav {
                visibility: visible;
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        .enterprises-carousel-list-content {
            .owl-wrapper-outer {
                clip: rect(0, $screen-lg - 30, 600px, 0px);
            }
        }
    }
}