.figure-circle {
    text-align: center;

    figure {
        margin-bottom: 20px;
        img {
            height: 240px;
        }
    }

    label {
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
    }

    @media (min-width: $screen-md-min) {
        figure {

            img {
                height: 340px;
            }
        }
    }
}