.profile-content {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 40px;
            padding: 0;

            h1, h2,h3,h4, h5, h6 {
                margin: 0 0 20px 0;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;
                color: $primaryColor;
            }

            p {
                margin: 0;
                line-height: 21px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .profile-content-circle {
        margin-right: 20px;
        height: 80px;
        width: 80px;

        border-radius: 100%;
        text-align: center;
        background: $primaryColor;

        i {
            line-height: 80px;
            vertical-align: middle;
            font-size: 25px;
            color: #ffffff;
        }
    }
    .profile-content-img {
        display: none;
    }

    @media (min-width: $screen-sm-min) {
        .profile-content-img {
            display: none;
        }
    }

    @media (min-width: $screen-md-min) {
        .profile-content-img {
            position: relative;
            display: inherit;

            figure {
                position: absolute;
                bottom: -424px;
            }
        }
    }
    @media (min-width: $screen-lg-min) {
        .profile-content-img {
            figure {
                bottom: -403px;
                img {
                    height: 500px;

                }
            }
        }
    }
}