.product-area {
    margin: 0 -15px;
    padding: 40px 40px;
    color: #ffffff;

    .product-area-position {
        position: relative;
        figure {
            margin-bottom: 30px;
            text-align: center;

            img {
                width: 240px;
            }
        }

        .product-area-position-text {
            h1, h2, h3, h4, h5,h6 {
                margin: 0 0 20px 0;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }

            p {
                margin: 0;
                height: 85px;
                line-height: 21px;
            }

            &.product-area-text-position-right {
                text-align: center;
            }

            &.product-area-text-position-left {
                text-align: center;
            }
        }
    }

    &.product-area-one {
        background: #95c955;
    }

    &.product-area-two {
        background: #1aa958;
    }

    &.product-area-three {
        background: #ee5b43;
    }

    &.product-area-four {
        background: #6376af;
    }

    @media (min-width: $screen-sm-min) {

    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {


        .product-area-position {
            position: relative;
            height: 240px;
            width: 100%;

            figure {
                position: absolute;
                margin-bottom: 0px;

                &.product-area-text-position-right {
                    left: 0;
                }

                &.product-area-text-position-left {
                    right: 0;
                }

            }

            .product-area-position-text {
                position: absolute;
                top: 50px;

                h1, h2, h3, h4, h5,h6 {
                    margin: 0 0 40px 0;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                p {
                    margin: 0;
                    line-height: 21px;
                    width: 300px;
                }

                &.product-area-text-position-right {
                    left: 280px;
                    text-align: left;
                }

                &.product-area-text-position-left {
                    right: 280px;
                    text-align: right;
                }
            }
        }
    }
}