/*------------------------------------------
 * BACK TO TOP BUTTON
 *------------------------------------------*/

.scroll-top-wrapper {
    width: 40px;
    height: 40px;
    position: fixed;
    padding-top: 2px;
    z-index: 9999;
    right: 40px;
    bottom: 20px;
    cursor: pointer;

    background: $secondColor;
    opacity: 0;
    visibility: visible;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ffffff;
    //.transition(0.5s, ease-out);

    text-align: center;
    color: #eeeeee;
    line-height: 40px;
    vertical-align: middle;

    i {
        font-size: 15px;
    }

    &:hover {
        background: lighten($secondColor, 5%);
    }

    &.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1.0;
    }
}