@media(min-width: 0px) {
	.mb-xs-0 {margin-bottom: 0px !important;}
	.mb-xs-1 {margin-bottom: 10px !important;}
	.mb-xs-2 {margin-bottom: 20px !important;}
	.mb-xs-3 {margin-bottom: 30px !important;}
	.mb-xs-4 {margin-bottom: 40px !important;}
	.mb-xs-5 {margin-bottom: 50px !important;}
	.mb-xs-6 {margin-bottom: 60px !important;}
	.mb-xs-7 {margin-bottom: 70px !important;}
	.mb-xs-8 {margin-bottom: 80px !important;}
	.mb-xs-9 {margin-bottom: 90px !important;}
	.mb-xs-10 {margin-bottom: 100px !important;}

	.mt-xs-0 {margin-top: 0px !important;}
	.mt-xs-1 {margin-top: 10px !important;}
	.mt-xs-2 {margin-top: 20px !important;}
	.mt-xs-3 {margin-top: 30px !important;}
	.mt-xs-4 {margin-top: 40px !important;}
	.mt-xs-5 {margin-top: 50px !important;}
	.mt-xs-6 {margin-top: 60px !important;}
	.mt-xs-7 {margin-bottom: 70px !important;}
	.mt-xs-8 {margin-bottom: 80px !important;}
	.mt-xs-9 {margin-bottom: 90px !important;}
	.mt-xs-10 {margin-bottom: 100px !important;}
}

@media(min-width: $screen-sm-min) {
	.mb-sm-0 {margin-bottom: 0px !important;}
	.mb-sm-1 {margin-bottom: 10px !important;}
	.mb-sm-2 {margin-bottom: 20px !important;}
	.mb-sm-3 {margin-bottom: 30px !important;}
	.mb-sm-4 {margin-bottom: 40px !important;}
	.mb-sm-5 {margin-bottom: 50px !important;}
	.mb-sm-6 {margin-bottom: 60px !important;}
	.mb-sm-7 {margin-bottom: 70px !important;}
	.mb-sm-8 {margin-bottom: 80px !important;}
	.mb-sm-9 {margin-bottom: 90px !important;}
	.mb-sm-10 {margin-bottom: 100px !important;}

	.mt-sm-0 {margin-top: 0px !important;}
	.mt-sm-1 {margin-top: 10px !important;}
	.mt-sm-2 {margin-top: 20px !important;}
	.mt-sm-3 {margin-top: 30px !important;}
	.mt-sm-4 {margin-top: 40px !important;}
	.mt-sm-5 {margin-top: 50px !important;}
	.mt-sm-6 {margin-top: 60px !important;}
	.mt-sm-7 {margin-top: 70px !important;}
	.mt-sm-8 {margin-top: 80px !important;}
	.mt-sm-9 {margin-top: 90px !important;}
	.mt-sm-10 {margin-top: 100px !important;}
}

@media(min-width: $screen-md-min) {
	.mb-md-0 {margin-bottom: 0px !important;}
	.mb-md-1 {margin-bottom: 10px !important;}
	.mb-md-2 {margin-bottom: 20px !important;}
	.mb-md-3 {margin-bottom: 30px !important;}
	.mb-md-4 {margin-bottom: 40px !important;}
	.mb-md-5 {margin-bottom: 50px !important;}
	.mb-md-6 {margin-bottom: 60px !important;}
	.mb-md-7 {margin-bottom: 70px !important;}
	.mb-md-8 {margin-bottom: 80px !important;}
	.mb-md-9 {margin-bottom: 90px !important;}
	.mb-md-10 {margin-bottom: 100px !important;}

	.mt-md-0 {margin-top: 0px !important;}
	.mt-md-1 {margin-top: 10px !important;}
	.mt-md-2 {margin-top: 20px !important;}
	.mt-md-3 {margin-top: 30px !important;}
	.mt-md-4 {margin-top: 40px !important;}
	.mt-md-5 {margin-top: 50px !important;}
	.mt-md-6 {margin-top: 60px !important;}
	.mt-md-7 {margin-top: 70px !important;}
	.mt-md-8 {margin-top: 80px !important;}
	.mt-md-9 {margin-top: 90px !important;}
	.mt-md-10 {margin-top: 100px !important;}
}

@media(min-width: $screen-lg-min) {
	.mb-lg-0 {margin-bottom: 0px !important;}
	.mb-lg-1 {margin-bottom: 10px !important;}
	.mb-lg-2 {margin-bottom: 20px !important;}
	.mb-lg-3 {margin-bottom: 30px !important;}
	.mb-lg-4 {margin-bottom: 40px !important;}
	.mb-lg-5 {margin-bottom: 50px !important;}
	.mb-lg-6 {margin-bottom: 60px !important;}
	.mb-lg-7 {margin-bottom: 70px !important;}
	.mb-lg-8 {margin-bottom: 80px !important;}
	.mb-lg-9 {margin-bottom: 90px !important;}
	.mb-lg-10 {margin-bottom: 100px !important;}

	.mt-lg-0 {margin-top: 0px !important;}
	.mt-lg-1 {margin-top: 10px !important;}
	.mt-lg-2 {margin-top: 20px !important;}
	.mt-lg-3 {margin-top: 30px !important;}
	.mt-lg-4 {margin-top: 40px !important;}
	.mt-lg-5 {margin-top: 50px !important;}
	.mt-lg-6 {margin-top: 60px !important;}
	.mt-lg-7 {margin-top: 70px !important;}
	.mt-lg-8 {margin-top: 80px !important;}
	.mt-lg-9 {margin-top: 90px !important;}
	.mt-lg-10 {margin-top: 100px !important;}
}

