.text-area {
    p {
        margin: 0 0 10px 0;
        line-height: 21px;
        
        &:last-child {
            margin: 0;
        }

        strong {
            color: $primaryColor;
        }
    }

    ul {
        margin: 0;
        padding-left: 20px;

        li {
            margin: 0 0 10px 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}