.title-area {
    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 40px 0;

        text-transform: uppercase;
        font-size: 28px;
    }

    &.title-area-primary {
        color: $textColor;

        Strong {
            color: $primaryColor;
        }
    }

    &.title-area-secondary {
        color: #ffffff;

        strong {
            color: #ffffff;
        }
    }

    @media (min-width: $screen-sm-min) {
        h1, h2, h3, h4, h5, h6 {
            margin: 0 0 60px 0;
            font-size: 30px;
        }
    }
    @media (min-width: $screen-md-min) {
        h1, h2, h3, h4, h5, h6 {
            font-size: 35px;
        }
    }
    @media (min-width: $screen-lg-min) {
        h1, h2, h3, h4, h5, h6 {
            font-size: 38px;
        }
    }
}