#tpl-header {
    margin-bottom: 40px;

    .tpl-header-top {
        height: 5px;
        background: $primaryColor;
    }

    .tpl-header-navbar {
        @extend .navbar-default;
        border-top: 5px solid $primaryColor;
        background: $tplmenubackground;

        @-webkit-keyframes tplHeaderShowAnimation {
            from   { opacity: 0; top: -100px;}
            to { opacity: 1; top: 0px;}
        }

        @-moz-keyframes tplHeaderShowAnimation {
            from   { opacity: 0; top: -100px;}
            to { opacity: 1; top: 0px;}
        }

        @-o-keyframes tplHeaderShowAnimation {
            from   { opacity: 0; top: -100px}
            to { opacity: 1; top: 0px;}
        }

        @keyframes tplHeaderShowAnimation {
            from   { opacity: 0; top: -100px;}
            to { opacity: 1; top: 0px;}
        }

        display: inline-block;

        &.tpl-header-navbar-show {
            display: block;
            position: fixed;
            -webkit-box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.41);
            -moz-box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.41);
            box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.41);
            animation: (tplHeaderShowAnimation 1s ease-out 0s 1 normal);
        }

        .navbar-brand {
            margin-top: -13px;
            width: 210px;
        }

        .tpl-header-navbar-nav {
            @extend .nav;
            @extend .navbar-nav;

            > li >  a {
                color: $textColor;
            }
        }

        .tpl-header-btn {
            display: block;
            position: relative;
            border: 0;
            text-transform: uppercase;
            @include button-variant(#ffffff, $primaryColor, $primaryColor);
            padding: 58px 20px 10px 20px !important;

            margin-left: 10px;

            &:before {
                position: absolute;
                top: 10px;
                right: 50%;
                margin-right: -20px;
                content: url("../img/atendente.png");
            }
        }


    }


    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        .tpl-header-navbar {

            .navbar-brand {
                width: 150px;
            }

            .tpl-header-navbar-nav {

                > li >  a {
                    line-height: 88px;
                    vertical-align: middle;
                    font-size: 13px;
                    padding: 0 5px;
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        margin-bottom: 60px;
    }

}