.tpl-footer {
  padding: 40px 0 10px 0;
  background-color: #061f47;
  color: #ffffff;

  h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 0;
  }
  ul {
    padding-left: 0px;
    list-style: none;
    color: #ffffff;
    li {
      a{
        color: #ffffff;
       i {
          margin-right: 10px;
          transition: all 0.2s ease;
          color: #ffffff;
        }
        &:hover,
        &:focus {
          text-decoration: none;
          i {
            margin-left: 5px;
            margin-right: 5px;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
  strong {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
  }
  i {
    margin-right: 10px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    p {
      font-size: 12px;
    }
    ul {
      font-size: 12px;
    }
  }
  .tpl-footer-copyright {
    padding: 0 0 10px 0;
    background-color: #061f47;

    .tpl-footer-copyright-line {
      margin-top: 30px;
      margin-bottom: 20px;
      height: 1px;
      background-color:$thirdColor;
    }
   .tpl-footer-bottom-copyright-footer {
     font-size: 12px;
     text-align: center;
    }
  }
}