#p-home {
    .p-home-banner {

        margin-top: -60px;
        display: none;
        height: 650px;
        background: url("../img/banner-urbare.png") center center;

       .p-home-banner-title-area {
           margin-top: 456px;
           padding: 20px;
           text-align: center;
           border-right: 3px solid #47c5ad;
           border-bottom: 5px solid #47c5ad;
           background-color: rgba(16, 67, 54, 0.7);

            h1, h2, h3, h4, h5, h6 {
                margin: 0 0 10px ;

                color: #47c5ad;
                font-size: 35px;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow: 3px 3px 1px rgba(16, 67, 54, 0.8);
            }

           p {
               margin: 0 auto;
                max-width: 700px;
               font-size: 20px;
               color: #ffffff;
               text-shadow: 2px 2px 1px rgba(16, 67, 54, 0.8);
           }
        }
    }

    .p-home-content-img {
        img {
            width: 100%;
        }
        .p-home-box-text {
            padding: 20px;
            background: #ffffff;
        }
    }

    @media (min-width: $screen-sm-min) {
        .p-home-banner {
           display: inherit;
            .p-home-banner-title-area {

                h1, h2, h3, h4, h5, h6 {
                    font-size: 28px;
                }
                p {

                    max-width: 670px;
                    font-size: 20px;

                }
            }
        }
    }
    @media (min-width: $screen-md-min) {
        .p-home-banner-title-area {

            h1, h2, h3, h4, h5, h6 {
                font-size: 35px;
            }

            p {
                max-width: 700px;
                font-size: 20px;
            }
        }

        .p-home-content-img {
            position: relative;
            img {
                width: 500px;
            }
            .p-home-box-text {
                position: absolute;
                top: 60px;
                right: 0px;
                padding: 20px;
                width: 530px;
                border: 5px solid #f4f4f4;
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        .p-home-content-img {

            img {
                width: auto;
            }
            .p-home-box-text {
                top: 100px;
                right: 50px;
            }
        }
    }
}



