@mixin circle-style($height:20px, $width:20px, $lineHeight:20px){
    height: $height;
    width: $width;
    line-height: $lineHeight;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
}
