<article class="enterprises-carousel-list-content">
    <div class="item">
        <a class="box-product fancybox-button"
           rel="empreendimentos"
           href="{{ baseUrl }}public/img/empreendimentos/lg/vila-borguesi-2-lg.png"
           alt="Villa Borghese - Vitória - ES"
           title="Villa Borghese - Vitória - ES">
            <figure>
                <img src="{{ baseUrl }}public/img/loading-360-360.gif"
                     data-src="{{ baseUrl }}public/img/empreendimentos/bx/villa-borghese.png"
                     alt="Villa Borghese - Vitória - ES" title="Villa Borghese - Vitória - ES">
            </figure>
        </a>
    </div>
</article>

<article class="enterprises-carousel-list-content">
    <div class="item">
        <a class="box-product fancybox-button"
           rel="empreendimentos"
           href="{{ baseUrl }}public/img/empreendimentos/lg/del-monte-lg.png"
           alt="Del Monte - Rio de Janeiro - RJ"
           title="Del Monte - Rio de Janeiro - RJ">

            <figure>
                <img
                    src="{{ baseUrl }}public/img/loading-360-360.gif"
                    data-src="{{ baseUrl }}public/img/empreendimentos/bx/del-monte.png" alt="Del Monte - Rio de Janeiro - RJ" title="Del Monte - Rio de Janeiro - RJ">
            </figure>
        </a>
    </div>
</article>

<article class="enterprises-carousel-list-content">
    <div class="item">
        <a class="box-product fancybox-button"
           rel="empreendimentos"
           href="{{ baseUrl }}public/img/empreendimentos/lg/jatoba-lg.png"
           alt="Jatobás"
           title="Jatobás">

            <figure>
                <img src="{{ baseUrl }}public/img/loading-360-360.gif"
                    data-src="{{ baseUrl }}public/img/empreendimentos/bx/jatobas.png" alt="Jatobás" title="Jatobás">
            </figure>
        </a>
    </div>
</article>

<article class="enterprises-carousel-list-content">
    <div class="item">
        <a class="box-product fancybox-button"
           rel="empreendimentos"
           href="{{ baseUrl }}public/img/empreendimentos/lg/la-vita-lg.png"
           alt="La Vita"
           title="La Vita">

            <figure>
                <img src="{{ baseUrl }}public/img/loading-360-360.gif"
                    data-src="{{ baseUrl }}public/img/empreendimentos/bx/la-vita.png" alt="La Vita" title="La Vita">
            </figure>
        </a>
    </div>
</article>

<article class="enterprises-carousel-list-content">
    <div class="item">
        <a class="box-product fancybox-button"
           rel="empreendimentos"
           href="{{ baseUrl }}public/img/empreendimentos/lg/liberte-lg.png"
           alt="Liberté"
           title="Liberté">

            <figure>
                <img src="{{ baseUrl }}public/img/loading-360-360.gif"
                    data-src="{{ baseUrl }}public/img/empreendimentos/bx/liberte.png" alt="Liberté" title="Liberté">
            </figure>
        </a>
    </div>
</article>

<article class="enterprises-carousel-list-content">
    <div class="item">
        <a class="box-product fancybox-button"
           rel="empreendimentos"
           href="{{ baseUrl }}public/img/empreendimentos/lg/jaquitibas-lg.png"
           alt="Jequitibás Jacanrandás"
           title="Jequitibás Jacanrandás">

            <figure>
                <img src="{{ baseUrl }}public/img/loading-360-360.gif"
                    data-src="{{ baseUrl }}public/img/empreendimentos/bx/jequitibas-jacanrandas.png" alt="Jequitibás Jacanrandás" title="Jequitibás Jacanrandás">
            </figure>
        </a>
    </div>
</article>

<article class="enterprises-carousel-list-content">
    <div class="item">
        <a class="box-product fancybox-button"
           rel="empreendimentos"
           href="{{ baseUrl }}public/img/empreendimentos/lg/harmonie-lg.png"
           alt="Harmonie"
           title="Harmonie">

            <figure>
                <img src="{{ baseUrl }}public/img/loading-360-360.gif"
                    data-src="{{ baseUrl }}public/img/empreendimentos/bx/harmonie.png" alt="Harmonie" title="Harmonie">
            </figure>
        </a>
    </div>
</article>

<article class="enterprises-carousel-list-content">
    <div class="item">
        <a class="box-product fancybox-button"
           rel="empreendimentos"
           href="{{ baseUrl }}public/img/empreendimentos/lg/manacas-lg.png"
           alt="Manacás"
           title="Manacás">

            <figure>
                <img src="{{ baseUrl }}public/img/loading-360-360.gif"
                    data-src="{{ baseUrl }}public/img/empreendimentos/bx/manacas.png" alt="Manacás" title="Manacás">
            </figure>
        </a>
    </div>
</article>

<article class="enterprises-carousel-list-content">
    <div class="item">
        <a class="box-product fancybox-button"
           rel="empreendimentos"
           href="{{ baseUrl }}public/img/empreendimentos/lg/serenite-lg.png"
           alt="Serenite"
           title="Serenite">

            <figure>
                <img src="{{ baseUrl }}public/img/loading-360-360.gif"
                    data-src="{{ baseUrl }}public/img/empreendimentos/bx/serenite.png" alt="Serenite" title="Serenite">
            </figure>
        </a>
    </div>
</article>





