<div class="modal fade cs-modal-confirm" data-onc-script="app/view/default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="dialog-confirm-title">XX</h4>
            </div>
            <div class="modal-body">
                <p id="dialog-confirm-message"></p>
            </div>
            <div class="modal-footer">
                <button id="dialog-confirm-btn-yes"     
                        type="button" 
                        class="btn btn-primary" 
                        data-dismiss="modal"></button>
                <button id="dialog-confirm-btn-no" 
                        type="button" 
                        data-dismiss="modal" 
                        class="btn btn-danger"></button>
            </div>
        </div>
    </div>
</div>