<div class="modal cs-modal cs-modal-center cs-modal-sucess modal-success fade">
    <div class="modal-dialog modal-vertical-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{{message}}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cs-btn cs-btn-success" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>