<div style="width:400px;" class="panel">
	<div class="panel-title">
		<span id="tpl-title">
			<i class="ico color help"></i> 
		</span>
	</div>
	<div class="panel-content panel-content-full">
		<p id="tpl-question"></p>
		
		<div class="row-clear-medium"></div>
		
		<a href="javascript:void(0)" 
		   class="dialog-confirm-button uibutton medium">
		   Sim
	    </a>
		<a href="javascript:void(0)" class="dialog-cancel-button uibutton medium special secure">
			Não
		</a>
	</div>
</div>
