
//
// Color variables
//-----------------------------------------

$primaryColor: #061f47;
$secondColor: #00a99d;
$thirdColor: #f4f4f4;

$contrastColor: $secondColor;
$contrastSecondColor: #ee5b43;

$textColor: #7f7f7f;


//
// Tpl Menu
//-----------------------------------------

$tplmenubackground:$thirdColor;
$tplMenuTextColor:$primaryColor;

//
// Title Area
//-----------------------------------------
$titleAreaColor:$textColor;
$titleAreaStrongColor: $primaryColor;


//
// Line
//-----------------------------------------


//
// Header Line
//-----------------------------------------

$tplHeaderLine:$primaryColor;

//
// Box High Light
//-----------------------------------------

$tblBootomfooter:$primaryColor;
